* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: auto;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #555252;
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
  float: left;
}

.logo::first-letter {
  font-size: 30px;
  line-height: 32px;
  color: #1abc9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.navigation-list {
  float: right;
  margin-top: 7px;
}

.navigation-list-item {
  float: left;
}

.navigation-list-item a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
  color: #1abc9c;
}
.navigation {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main {
  background-color: rgb(233, 240, 253);
}

.main-heading {
  font-size: 60px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}

.tour-info {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  margin-top: 20px;
}

.slider::before {
  background-color: rgba(0, 0, 0, 0.522);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider {
  position: relative;
  margin-bottom: 100px;
}

.slider-control {
  display: block;
  width: 104px;
  height: 104px;
}

.slider-navigation {
  display: block;
  content: '';
  position: absolute;
  width: 1110px;
  top: 0px;
  left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-site {
  display: block;
  content: '';
  position: absolute;
  max-width: 800px;
  top: 0px;
  left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.prev {
  float: left;
  opacity: 0.6;
  background-image: url('../images/arrows/prew.png');
}

.next {
  float: right;
  opacity: 0.6;
  background-image: url('../images/arrows/next.png');
}

.slider-navigation button:hover,
.slider-navigation button:focus {
  opacity: 1;
}

.slider-navigation button {
  border: 0px;
}

.collection-header {
  font-size: 48px;
  font-family: 'Roboto';
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}

.collection-header::after {
  display: block;
  content: '';
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 80px;
}

.products-list {
  margin: 0px;
  padding: 0px;
}

.products-list-item {
  width: 255px;
  height: 322px;
  float: left;
  position: relative;
  margin-bottom: 100px;
}

.product-info {
  margin: 0px;
  background-color: #323232;
}

.product-info-link {
  padding-top: 4px;
  padding-left: 14px;
  padding-bottom: 4px;
  float: left;
  line-height: 32px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}

.product-price {
  width: 55px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  line-height: 32px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto';
  font-weight: 900;
  text-align: center;
}

.products-list-item:hover .product-info {
  background-color: #1abc9c;
}

.overlay {
  position: relative;
  position: absolute;
  width: 255px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  display: none;
}

.icons-wrapper {
  width: 166px;
  height: 107px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-button {
  background-color: transparent;
  border: 0px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.basket {
  width: 166px;
  height: 50px;
  padding-right: 17px;
  text-align: right;
  background-image: url(../images/icons/basket.png);
  background-position-x: 13px;
  text-transform: uppercase;
  background-color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
}

.copy {
  background-image: url(../images/icons/copy.png);
}

.put-off {
  background-image: url(../images/icons/clock.png);
}

.like {
  background-image: url(../images/icons/like.png);
}

.icons-list-item {
  font-size: 0px;
  float: left;
}

.icons-list-item:nth-child(-n + 2) {
  margin-right: 8px;
}
.icons-list-item:nth-child(-n + 3) {
  margin-bottom: 7px;
}

.action-button:hover,
.action-button:focus {
  background-color: #1abc9c;
  border: transparent;
}

.products-list-item:hover .overlay {
  display: block;
}

.products-list-item:not(:last-child) {
  margin-right: 30px;
}

.rights,
.rihgts-link {
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgb(254, 254, 254);
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer {
  background-color: #323232;
}

.rihgts-link {
  margin-left: 5px;
  color: #1abc9c;
}

.footer-wrapper {
  text-align: center;
}
