* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}

.container {
  width: 1110px;
  margin: auto;
}

/* NAVIGATION START */
.logo {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #555252;
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
  float: left;
}

.logo::first-letter {
  font-size: 30px;
  line-height: 32px;
  color: #1abc9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/* LOGO */

.navigation-list {
  float: right;
  margin-top: 7px;
}

.navigation-list-item {
  float: left;
}

.navigation-list-item a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
  color: #1abc9c;
}
.navigation {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* NAVIGATION END */

.main {
  background-color: rgb(233, 240, 253);
}

/* SLIDER START */

.main-heading {
  font-size: 60px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}

.tour-info {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  margin-top: 20px;
}

.slider::before {
  background-color: rgba(0, 0, 0, 0.522);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider {
  position: relative;
  margin-bottom: 100px;
}

.slider-control {
  display: block;
  width: 104px;
  height: 104px;
}

.slider-navigation {
  display: block;
  content: '';
  position: absolute;
  width: 1110px;
  top: 0px;
  left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-site {
  display: block;
  content: '';
  position: absolute;
  max-width: 800px;
  top: 0px;
  left: 0px;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.prev {
  float: left;
  opacity: 0.6;
  background-image: url('../images/arrows/prew.png');
}

.next {
  float: right;
  opacity: 0.6;
  background-image: url('../images/arrows/next.png');
}

.slider-navigation button:hover,
.slider-navigation button:focus {
  opacity: 1;
}

.slider-navigation button {
  border: 0px;
}

/* SLIDER END */

/* Section START */

.collection-header {
  font-size: 48px;
  font-family: 'Roboto';
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}

.collection-header::after {
  display: block;
  content: '';
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 32px;
}

/* Cards START */

.products-list {
  margin: 0px;
  padding: 0px;
}

.products-list-item {
  width: 255px;
  height: 322px;
  float: left;
}

.product-info {
  margin: 0px;
  background-color: #323232;
}

.product-name {
  height: 40px;
  padding-top: 4px;
  padding-left: 14px;
  float: left;
  line-height: 32px;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}

.product-price {
  height: 40px;
  width: 55px;
  padding-top: 4px;
  float: right;
  line-height: 32px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto';
  font-weight: 900;
  text-align: center;
}

li:hover .product-info {
  background-color: #1abc9c;
}

/* OVERLAY */

li:hover .overlay {
  display: block;
}

.overlay {
  width: 255px;
  height: 282px;
  background-color: rgb(245, 215, 215);
}

.icons-wrapper {
  width: 166px;
  height: 107px;
}

.button {
  background-image: url(/images/icons/like.png);
  width: 50px;
  height: 50px;
}
